//
   Created by jay on 2016-10-13.

extends layout
block content
    h1 用户资料
        div.form-row
            label
                span ID:
                input(type='text',name='id',value='#{result[0].id}')
        div.form-row
            label
                span name:
                input(type='text',name='name',value='#{result[0].name}')
        div.form-row
            label
                span age:
                input(type='text',name='age', value='#{result[0].age}')